header, footer, aside, nav, article
{
    display: block;
}

body
{
    margin: 0 auto;
    width: 940px;
    font: Helvetica, Arial, Sans-Serif;
    background: #f0f0f0;
}

h2
{
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;
}

h3
{
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0;
}

p
{
    padding-bottom: 22px;
}

nav
{
    position: absolute;
    left: 0;
    width: 100%;
}

nav ul
{
    margin: 0 auto;
    width: 940px;
    list-style: none;
}

nav ul li
{
    float: left;
}

nav ul li a
{
    display: block;
    margin-right: 20px;
    width: 140px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #777;
}

nav ul li a:hover
{
    color: #fff;
}

nav ul li.selected a
{
    color: #fff;
}

nav ul li.subscribe a
{
    margin-left: 22px;
    padding-left: 33px;
    text-align: left;
    background: url("rss.png") left center no-repeat;
}

#intro
{
    margin-top: 66px;
    padding: 44px;
    background: #467612 url("/Assets/Images/dscn4284.jpg") repeat-x; /*background: #467612 url("/Assets/Images/dscn4284.jpg") top left (287px 100%) repeat-x, url("/Assets/Images/dscn4285.jpg") top rightright (653px 100%) no-repeat;*/
    background-size: 100%;
    border-radius: 60px;
}

#intro h2, #intro p
{
    width: 336px;
}

#intro h2
{
    padding: 0 0 22px 0;
    font-weight: normal;
    color: #fff;
}

#intro p
{
    padding: 0;
    color: #d9f499;
}

#content
{
    display: table;
}

#mainContent
{
    display: table-cell;
    width: 620px;
    padding-right: 22px;
}

aside
{
    display: table-cell;
    width: 300px;
}

.blogPost div
{
    column-count: 2;
    column-gap: 22px;
}

.blogPost
{
    column-count: 2;
    column-gap: 22px;
}

.blogPost header
{
    column-span: all;
}